*{
    margin: 0;
    padding: 0;
}

.navBar{
    display: flex;
    /* padding: 25px; */
    justify-content: space-between;
    align-items:center;
    background-color: cornsilk;
}
.navBar > img{
    width: 10%;
    padding: 15px;
}
.navBar > ul {
    flex-grow: 0.1;
    display: flex;
    justify-content: space-around;
    padding-right: 15px;
}
li {
    list-style-type: none;
}
input {
    border-radius: 25px;
    padding: 0 5px 5px 5px;
    height: 25px;
    width: 15em;
}
.hero{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    row-gap: 10px;
    column-gap: 10px;
    text-align: center;
    padding: 15px;
    
}
.hero > div{
    height: 250px;
    border: 2px rgb(163, 163, 163) solid;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero > div > img{
    width: 50%;
}